*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body{
	background-image: url(file:///D:/OneDrive/School/Software%20Engineering/SEProject/images/background_1.png);
	background-repeat: no-repeat;
	background-position: right top;
}

header{
	width: 100%;
	height: auto;
	display: block;
	position: fixed;
	transition: .2s;
	background-color: aqua;
}

.inner_header{
	width: auto;
	height: 100%;
	display: block;
	float: right;
	background-color: red;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 5px;
}

.logo_container a{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.logo_container img{
	height: 110px;
	padding-right: 10px;
}

.logo_container h1{
	color: #101010;
	font-family: 'Stencil';
	font-size: 32px;
	font-weight: 200;
}

.logo_container h1 span{
	color: #F8A22F;
}

.nav{
	float: right;
	height: 100%;
}

.nav a{
	height: auto;
	display: table;
	float: left;
	padding-top: 35px;
	padding-right: 75px;
}

.nav a:last-child{
	padding-right: 175px;
}

.nav a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-family: 'Segoe UI';
	font-weight: bold;
	cursor: pointer;
	padding: 8px 25px;
	border-radius: 18px;
	transition: .2s;
}

.nav a li:hover{
	background-color: #F8A22F;
}

/* main style */
main{
	color: darkgray;
	height: 100%;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	padding-top: 80px;
	padding-left: 40px;
	height: 4000px;
}

main h1{
	color: #101010;
	width: 520px;
	font-size: 71px;
	font-weight: 100;
	padding-bottom: 20px;
}

main h1 span{
	color: #F8A22F;
}

main p{
	font-size: 26px;
	width: 710px;
}